:root {
    color: rgb(205, 189, 189);
}


body{
    align-items: center;
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    display: contents;
    padding: 14px;
    
    
}

